body {
  font-family: "Courier New", Courier, monospace;
  background-color: #eae0d5;
  position: relative;
  min-height: 90vh;
}

::selection {
  background-color: #c6ac8f;
  color: #5e503f;
}

header {
  /* border: 2px green solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-size: 20px;
  letter-spacing: 10px;
  margin-top: 8vh;
  margin-left: 10vw;
  color: #22333b;
  cursor: default;
}

.social-buttons {
  /* border: 2px blue solid; */
  display: flex;
  /* align-items: center; */
  margin-right: 12vw;
  font-size: 30px;
  margin-top: 8.65vh;
}

.social-buttons a {
  /* border: 2px red solid; */

  display: inline-block;
  margin-left: 40px;
  text-decoration: none;
  color: #22333b;
}

i {
  transition: 0.5s;
}

i:hover {
  color: #5e503f;
}

.text-image-container {
  /* border: 2px solid blue; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  row-gap: 90px;
  /* margin-left: 50px; */
  /* margin-left: 5vw; */
}

.image-container {
  display: inline-block;
  margin-top: -2vw;
  /* border: 2px solid green; */
  /* margin-top: 10vh;  */
  /* margin-left: 100px; */
  max-width: 500px;
}

#img-background-box {
  height: 375px;
  max-width: 375px;
  background-color: #22333b;
  border-radius: 12px;
  box-shadow: rgba(31, 51, 59, 0.4) -5px 5px, rgba(31, 51, 59, 0.3) -10px 10px,
    rgba(31, 51, 59, 0.2) -15px 15px, rgba(31, 51, 59, 0.1) -20px 20px,
    rgba(31, 51, 59, 0.05) -25px 25px;
}

img {
  margin-top: -13px;
  margin-left: 13px;
  height: 375px;
  max-width: 500px;
  border-radius: 12px;
}

.text-container {
  /* border: 2px solid red; */
  margin-top: -50px;
  padding-left: 120px;
  color: #22333b;
  cursor: default;
  flex-shrink: 0;
  max-width: 1000px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

#degree-text {
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
}

p {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

footer {
  /* grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap; */
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  position: absolute;
  bottom: 0px;
  transform: translate(-50%, 0);
  left: 50%;
  cursor: default;
}
